<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="log-path">src/main/java/logs/</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="File" fileName="${log-path}/info.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="GridFSUtil" level="warn" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>

        <Logger name="ImageRepo" level="warn" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>

        <Logger name="OpenCVUtil" level="warn" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>

        <Logger name="HibernateUtil" level="warn" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>

        <Logger name="DiscordClient" level="warn" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>

        <Logger name="Bot" level="warn" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>

        <!-- Root Logger -->
        <Root level="INFO">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>